	<div>
   	    <h1>How to use ngFor Directive Example</h1>
   	    <table>
    	        <thead>
               <tr>
  	                <th>Employee Id</th>
                  <th>First Name</th>
    	                <th>Last Name</th>
    	                <th>Email Id</th>
    	            </tr>
  	        </thead>
   	        <tbody>
               <tr *ngFor = "let x ofusers">
    	                <td>{{x.id}}</td>
    	                <td>{{x.firstName}}</td>
   	                <td>{{x.lastName}}</td>
                    <td>{{x.emailId}}</td>
    	            </tr>
   	        </tbody>
    	    </table>
    	    <!--ng for using ul-->
   	    <ul>
    	        <li *ngFor = "let y ofusers">
	           {{y.id}} . {{y.firstName}} {{y.lastName}}
    	        </li>
    	    </ul>
    	</div>
    
